:root {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Import component styles */
@import "components/media";
@import "components/buttons";
@import "components/navbar";

